@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto+Mono&display=swap');

* {
    font-family: 'Open Sans', sans-serif;
}

p {
    margin:0px;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background-color: silver;
}

img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 45%;
    max-width: 45%;
}

label, input {
    display: block;
}

label {
    margin-top: 15px;
}

.notification_box {
    cursor: default;
    margin-left: 20px;
    margin-top: 70px;
    width: 360px; 
    height: 60px; 
    position: absolute;
    display: none; 
    justify-content: center; 
    align-items: center;
    opacity: 0;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    -ms-transition: all 0.25s ease-in-out;
    -o-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.content {
    background-color:rgba(255,255,255,.6);
    border-radius:1vh;
    box-shadow:0 0 1vh rgba(0,0,0,.25);
    text-align:center;
}

.spoiler {
    background-color:#333;
    color: transparent;
    user-select: none;
}
  
.spoiler:hover {
    background-color: inherit;
    color: inherit;
    user-select: text;
}

.key_box {
    background-color: rgb(148, 148, 148);
    border-radius: 5px;
    border: 3px solid #111;
}

.bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.bar li {
    float: left;
}

.bar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.bar li a:hover {
    background-color: #111;
}