<center>
<p style="margin-top: 10px; color: white; font-size: 16px">We're a group of threatening web-dev game changers who are commoditising opportunity pipelines and reorthogonalising boost up-sell messages before getting out of bed each day.
<br>In our team we have: 
<br><b>Joe User:</b> Our humble software farmer
<br><b>Jane Admin:</b>  Our professional software horticulturist
</p>
<img style="margin-top: 10px; border: 2px solid white; height: 70%" src="img/header.jpg">
<p style="color: white; font-size: 16px">
<br>And together we're here to ${garble}
</p>
</center>