<script src="js/crypto.js"></script>

<!-- Chat Window -->
<div id="chat_window" style="padding:20px; width: calc(100% - 420px); height: calc(100% - 118px); float: right; display: none">
  <div class="content" style="width:100%; height:100%">

    <!-- Text Bar -->
    <form action="/not_implemented" method="post" style="position: relative; top: calc(100% - 50px);">
      <center><input style="height: 40px; width: calc(100% - 20px);" name="username" type="text" placeholder="Aa" required/></center>
    </form>

  </div>
</div>

<!-- Left Column -->
<div id="left_column" style="padding:20px; width:360px; height: calc(100% - 118px);">
  <div class="content" style="width:100%; height:100%">

    <form action="/not_implemented" method="post" style="padding-top: 10px">
      <center><input style="height: 40px; width:340px;" name="username" type="text" placeholder="Search" required/></center>
    </form>

    <!-- Friends List -->
    <ul id="friends"></ul>

  </div>
</div>

<script>

  // DOM Element Variables.
  chatWindow = document.getElementById('chat_window');
  friendsList = document.getElementById("friends");

  // Requested friends list information.
  friends = "${friends}";
  friends = friends.replaceAll('\'','\"');
  
  // Chat information
  me = {
    username: null,
    publicKey: null,
    privateKey: null
  }

  user = {
    username: null,
    publicKey: null,
  }

  // Check whether the friends list info was passed.
  exists = false;
  try {
    friends = JSON.parse(friends);
    exists = true;
  } catch {}

  // Credit: Andy E https://stackoverflow.com/questions/1397329/how-to-remove-the-hash-from-window-location-url-with-javascript-without-page-r/5298684#5298684
  function removeHash () { 
    history.pushState("", document.title, window.location.pathname + window.location.search);
  }

  function clearFriendsList() {
    if (exists) {
      friendsList.innerHTML = "";
    }
  }

  function setFriendsList(arr) {
    if (exists) {
      friends.forEach(friend => {
        friendsList.innerHTML += "<li><a href=\"#" + friend + "\">" + friend + "</a></li>";
      });
    }
  }

  function resetFriendsList(arr) {
    clearFriendsList();
    setFriendsList(arr);
  }

  function hashchange() {

    if (location.hash.substring(1) == "") {
      return;
    }

    user.username = location.hash.substring(1);
    data = new URLSearchParams();
    data.append("username", user.username);

    // Check if the user in the hash is a friend.
    fetch("/is_friends", {
      method: "POST",
      body: data,
    })
    .then((res) => {
      if (res.ok) {return res.json();}
      else {throw new Error("FETCH FAILED.")}
    })
    .then((json) => {

      // User is a friend
      if (json.status) {
        
        fetch("/get_public_key", {
          method: "POST",
          body: data,
        })
        .then((res) => {
          if (res.ok) {return res.json();}
          else {throw new Error("FETCH FAILED.")}
        })
        .then((json) => {

          // User has a public key
          if (json.status) {

            chatWindow.style.display = "block";
          
          // User does not have a public key
          } else {

            removeHash();
            chatWindow.style.display = "none";
            notificationDisplay(user.username + " does not have a public key. Cannot establish a secure channel.");
            user.username = null;
            user.publicKey = null;

          }

        });
      
      // User is not a friend
      } else {

        removeHash();
        chatWindow.style.display = "none";
        notificationDisplay("You are not friends with " + user.username + ".");
        user.username = null;
        user.publicKey = null;

      }
    });

  }

  setFriendsList(friends);

  window.onhashchange = hashchange;
  window.onload = hashchange;

</script>