<script src="js/crypto.js"></script>
<link rel="stylesheet" type="text/css" href="css/chat.css">

<!-- Userdata Window -->
<div id="userdata_window" style="padding:20px; width: calc(100% - 420px); height: calc(100% - 118px); float: right; display: none">
  <div class="content" style="margin: auto; width:400px; height:300px; margin-top: 100px; padding-top: 40px">

    <!-- Userdata Info -->
    <img src='img/profile.jpg' style="width: 100px; height: 100px; border-radius: 70%; border: solid; object-fit: cover; border-width: thin;">

    <p id='userdata_username' style="margin-top: 10px; font-size: 16pt;"></p>
    <p id='userdata_tutor' style="margin-top: 10px;">Tutor: No</p>
    <p id='userdata_admin' style="margin-top: 10px; padding-bottom: 30px;">Admin: No</p>

    <!-- Delete User -->
    <form id="delete">
      <input style="height: 40px; width:152.5px; margin-left:40px;" value="Delete User" type="submit"/>
    </form>

    <form id="promote">
      <input style="height: 40px; width:152.5px; margin-left:212.5px; margin-top: -56px;" value="Promote to Tutor" type="submit"/>
    </form>

  </div>
</div>

<!-- Left Column -->
<div id="left_column" style="padding:20px; width:360px; height: calc(100% - 118px);">
  <div class="content" style="width:100%; height:100%">

    <form autocomplete="off" action="" method="post" style="padding-top: 10px">
      <center><input style="height: 40px; width:340px;" name="username" type="text" placeholder="Search" required/></center>
    </form>

    <!-- Users List -->
    <ul id="users" style="margin-top: -6px;"></ul>

  </div>
</div>

<script>

  // DOM Element Variables.
  userdataWindow = document.getElementById('userdata_window');
  userdataUsername = document.getElementById('userdata_username');
  userdataTutor = document.getElementById('userdata_tutor');
  userdataAdmin = document.getElementById('userdata_admin');
  userdataMessageList = document.getElementById("userdata_messages");
  usersList = document.getElementById("users");

  deleteForm = document.getElementById('delete');
  promoteForm = document.getElementById('promote');
  
  // Requested users list information.
  users = "${users}";
  users = users.replaceAll('\'','\"');

  username = null;

  // Check whether the users list info was passed.
  exists = false;
  try {
    users = JSON.parse(users);
    exists = true;
  } catch {}

  function removeHash () { 
    history.pushState("", document.title, window.location.pathname + window.location.search);
  }

  function clearUsersList() {
    if (exists) {
      usersList.innerHTML = "";
    }
  }

  function setUsersList(arr) {
    if (exists) {
      users.forEach(user => {
        usersList.innerHTML += "<li class='friend'><img src='img/profile.jpg' /><a href=\"#" + user + "\">" + user + "</a></li>";
      });
    }
  }

  function resetUsersList(arr) {
    clearUsersList();
    setUsersList(arr);
  }

  function hashchange() {

    if (location.hash.substring(1) == "") {
      return;
    }

    username = location.hash.substring(1);
    data = new URLSearchParams();
    data.append("username", username);

    // Check if the user in the hash is a user.
    fetch("/get_id", {
      method: "POST",
      body: data,
    })
    .then((res) => {
      if (res.ok) {return res.json();}
      else {throw new Error("FETCH FAILED.")}
    })
    .then((json) => {

      // User is a user
      if (json.id != -1) {
        
        userdataUsername.innerHTML = username;
        userdataWindow.style.display = "block";

        fetch("/is_tutor", {
          method: "POST",
          body: data,
        })
        .then((res) => {
          if (res.ok) {return res.json();}
          else {throw new Error("FETCH FAILED.")}
        })
        .then((json) => {
          if (json.status) {
            userdataTutor.innerHTML = 'Tutor: Yes';
          } else {
            userdataTutor.innerHTML = 'Tutor: No';
          }
        });

        fetch("/is_admin", {
          method: "POST",
          body: data,
        })
        .then((res) => {
          if (res.ok) {return res.json();}
          else {throw new Error("FETCH FAILED.")}
        })
        .then((json) => {
          if (json.status) {
            userdataAdmin.innerHTML = 'Admin: Yes';
          } else {
            userdataAdmin.innerHTML = 'Admin: No'; 
          }
        });
      
      // User is not a user
      } else {

        removeHash();
        userdataWindow.style.display = "none";
        username = null;

      }
    });

  }

  setUsersList(users);
  userdataUsername.innerHTML = '';
  window.onhashchange = hashchange;
  window.onload = hashchange;

  deleteForm.addEventListener('submit', (e) => {

    // Prevent the form from performing the POST.
    // It will be done manually.
    e.preventDefault();

    if (confirm("Are you sure you want to delete " + username + "'s account? This action is not reversible.")) {
      
      data = new URLSearchParams();
      data.append("username", username);

      fetch("/delete_user", {
        method: "POST",
        body: data,
      })
      .then((res) => {
        if (res.ok) {return res.json();}
        else {throw new Error("FETCH FAILED.")}
      })
      .then((json) => {
        if (json.status) {
          notificationDisplay("Successfully deleted " + username + ".");
          window.location.reload();
        } else {
          notificationDisplay(username + " could not be deleted.");
        }
      });

    }

  });

</script>