<center>
  <div class="content" style="width: 400px; height: 300px; margin-top: 100px;">
    <div style="margin-left: 40px; padding-top: 24px; width: 320px; height: 100%">
      <p style="margin:0;">You're almost there.</p>
      <p style="margin:0;">Please fill in to register:</p>
      <form action="/register" method="post">
        <label><center><input style="height: 40px; width:250px;" name="username" type="text" placeholder="Enter username" required/></center></label>
        <label><center><input style="height: 40px; width:250px;" name="password" type="password" placeholder="Enter password" required/></center></label>
        <label><center><input style="height: 40px; width:250px;" value="Register" type="submit"/></center></label>
      </form>
    </div>
  </div>
</center>