<center>
    <div class="content" style="width: 400px; height: 300px; margin-top: 100px;">
      <div style="margin-left: 40px; padding-top: 24px; width: 320px; height: 100%">
        <p style="margin:0;">Please verify to continue:</p>
        <p style="margin:0; font-size: small; padding-bottom: 6px;">A verification code has been sent to your email. Please check your inbox.</p>
        <form action="/verify" method="post">
          <label><center><input style="height: 40px; width:250px;" name="digitcode" type="text" placeholder="Enter a 4-digit code" required/></center></label>
          <label><center><input style="height: 40px; width:250px;" value="Continue" type="submit"/></center></label>
        </form>
        <a href="/login" style="text-decoration: none;">Need help?</a>
      </div>
    </div>
    </center>